
<div class=" max-w-4xl mx-auto bg-white rounded-lg shadow-lg">
  <div class="bg-white rounded-lg shadow-md p-4 mt-8 mb-2">
    <form (submit)="enviarPost()">
      <!-- Contenido del formulario -->
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-2xl font-bold">Nueva Publicacion</h2>
        <button type="submit"  class="bg-blue-500 hover:bg-blue-600 text-white rounded-md px-4 py-2">
          Publicar
        </button>
      </div>
      <div class="mb-4">
        <textarea name="contenido" [(ngModel)]="post.contenido" class="w-full px-3 py-2 border rounded-md" rows="6" placeholder="Escribe tu contenido..."></textarea>
      </div>
      <div>

        <img *ngIf="image"  [src]="getImgUrl()" alt="Miniatura de la imagen" class="w-20 h-20 mx-auto mb-2">

        <input #imagen (change)="onFileSelected($event)" id="imagen" type="file" class="hidden">
        <button type="button" class="bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-md px-4 py-2" onclick="document.querySelector('input[type=file]').click()">
          Agregar imagen
        </button>
      </div>
    </form>
 
  </div>
</div>


<div *ngFor="let pub of publicaciones;  " class="container mx-auto my-8 ">
  
  <div *ngIf="pub.imagenPost!==null" class="max-w-xl mx-auto bg-white rounded-lg shadow-lg">
    <div class="flex items-center px-6 py-4">
      <img class="h-12 w-12 rounded-full object-cover mr-4" src="https://via.placeholder.com/150" alt="Avatar">
      <div>
        <p class="text-gray-900 font-medium">{{pub.autor.nombre}}</p>
        <p *ngIf="!compareDates(pub.fechaCreacion)" class="text-gray-600 text-sm">Publicado el {{fechaParseada(pub.fechaCreacion) }}</p>
        <p *ngIf="compareDates(pub.fechaCreacion)" class="text-gray-600 text-sm">Publicado Hoy a las {{fechaParseadaHoy(pub.fechaCreacion) }}</p>
      </div>
    </div>
    <img class="w-full object-cover" [src]="imagenes[pub.id]" alt="Publicación">
    <div class="p-6">
      <div class="flex items-center mb-4">
      </div>
      <p class="text-gray-900 leading-tight mb-4">{{pub.contenido}}</p>
      <div class="flex items-center">
        <button mat-icon-button color="warn" (click)="mostrarComentarios()" aria-label="Example icon button with a heart icon">
          <span class="material-icons">comment</span>
        </button>

       

        <button mat-icon-button [style.color]="likes.get(pub.id)" aria-label="Example icon button with a heart icon" (click)="cambiarColor(pub.id)">
          <mat-icon>favorite</mat-icon>
        </button>
        <p class="ml-2 text-gray-600">16 personas les gusta esto</p>
      </div>
    </div>
  </div> 


  <div *ngIf="pub.imagenPost===null" class="max-w-xl mx-auto bg-white rounded-lg shadow-lg">
    <div class="flex items-center px-6 py-4">
      <img class="h-12 w-12 rounded-full object-cover mr-4" src="https://via.placeholder.com/150" alt="Avatar">
      <div>
        <p class="text-gray-900 font-medium">{{pub.autor.nombre}}</p>
        <p *ngIf="!compareDates(pub.fechaCreacion)" class="text-gray-600 text-sm">Publicado el {{fechaParseada(pub.fechaCreacion) }}</p>
        <p *ngIf="compareDates(pub.fechaCreacion)" class="text-gray-600 text-sm">Publicado Hoy a las {{fechaParseadaHoy(pub.fechaCreacion) }}</p>
      </div>
    </div>
  
    <div class="p-6">
      <p class="text-gray-900 text-lg leading-tight mb-4">{{pub.contenido}}</p>
      <div class="flex items-center mb-4">
        
      </div>
     
      <div class="flex items-center">
        <button mat-icon-button color="warn" (click)="mostrarComentarios()" aria-label="Example icon button with a heart icon">
          <span class="material-icons">comment</span>
        </button>

        
        <button mat-icon-button [style.color]="likes.get(pub.id)"  aria-label="Example icon button with a heart icon" (click)="cambiarColor(pub.id)">
          <mat-icon>favorite</mat-icon>
        </button>
        <p class="ml-2 text-gray-600">16 personas les gusta esto</p>
      </div>
    </div>
  </div> 

  
  <div *ngIf="mostrarComponenteHijo" class="relative top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-md overflow-y-scroll">
   
    <button class="absolute bg-red-700 top-0 right-0 text-white hover:text-blue-800 rounded-full p-2" (click)="cerrarComentarios()">
      <mat-icon>close</mat-icon>
    </button>
    <app-comments-seccion></app-comments-seccion>
  
  
</div>

  </div>


  
 
