<div class="flex justify-center text-xl font-serif font-extrabold text-cyan-800 mt-10" >Personas que quizas conozcas</div>
<div class="mt-8 p-4">
      
    <div  class="grid grid-cols-1 gap-4">
    <div *ngFor="let s of sugeridos">
        <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
            <div class="md:flex">
              <div class="md:flex-shrink-0">
                <img class="h-48 w-full object-cover md:w-48"  [src]="imagenesPerfil[s.id]" alt="Foto del perfil">
              </div>
              <div class="p-8">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{s.username}}</div>
                <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{s.nombre}} {{s.apellido}}</a>
               <p>n amigos en comun</p>
                <div class="flex justify-center mt-4">
                  <button class="px-4 py-2 rounded-full bg-green-700 text-white mr-2"
                  (click)="sendSolicitud(s.id)"
                  >Agregar</button>
                  <button class="px-4 py-2 rounded-full bg-red-500 text-white mr-2">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
 
</div>